<button class="btn btn-primary" (click)="getGames()" style="display: block; margin: auto;">Reload <i class="fas fa-sync-alt"></i></button>
<div class="row">
    <div class="col-md-4 p-3" *ngFor="let game of games">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <div class="col-9 text-wrap">{{game.title}}</div>
                <button class="btn btn-danger float-right" (click)="deleteGame(game.id_game)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <img [src]="game.image" class="card-img-top">
            <div class="card-body">
                <p>{{game.description}}</p>
                <a class="btn btn-info btn-block" routerLink="/games/edit/{{game.id_game}}">
                    Edit Game
                </a>
            </div>
        </div>
    </div>
</div>